@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.orange-bg {
    background-color: #E6533C;
    color: white;
}

.btn-style {
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 42px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(17, 17, 17);
}

/*Header Styles*/
.header-container {
    width: 80%;
    margin: auto;
}

/*Nav bar styles*/
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.menu-container>h2 {
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.menu {
    display: flex;
    height: fit-content;
    gap: 20px;
    color: white;
    font-size: 18px;
    border: 1px solid #FFFFFF1A;
    border-radius: 39px;
}

.menu p {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 5px 20px;
    border-radius: 46px;
}

/*Banner styles*/
.banner-container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 50px;
    color: white;
}

.banner-left>h1 {
    color: white;
    font-size: 78px;
    font-weight: 900;
}

.diff-font {
    font-family: "Dancing Script", cursive;
    font-size: 82px;
    font-style: italic;
}

.banner-left p {
    color: white;
    margin-bottom: 30px;
}

.banner-right {
    background-image: url(images/Images\ 2.png);
    background-repeat: no-repeat;
    position: relative;
}

.workout-tutorial {
    background-color: #FFFFFF1A;
    width: fit-content;
    padding: 1px 35px;
    border-radius: 12px;
    position: absolute;
    top: 10%;
    left: 55%;
}

.workout-tutorial h3 {
    font-size: 40px;
    font-weight: 900;
    margin: 0px 0px;
}

.workout-tutorial p {
    font-size: 13px;
}

.video-tutorial {
    background-color: #FFFFFF1A;
    width: fit-content;
    padding: 1px 25px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 70%;
    left: -10%;
}

.video-tutorial h3 {
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.circle {
    background-color: #E6533C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}